# Editors etc
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
/Gemfile.lock
/bin/
/.bundle/
/bundle/
/vendor/gems/
/vendor

# Berkshelf
/Berksfile.lock
/cookbooks/
/vendor/cookbooks/

# Vagrant
/.vagrant/

# Test Kitchen
/.kitchen/
/.kitchen.local.yml

# Policyfile
/Policyfile.lock.json

.DS_Store

# Chef
Policyfile.lock.json
